src/main/webapp/schemas/schema.wsdl

<wsdl:definitions
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://epgu.skmv.rstyle.com"
        xmlns:smev="http://smev.gosuslugi.ru/rev120315"
        xmlns:pfr="http://pfr.skmv.rstyle.com"
        targetNamespace="http://epgu.skmv.rstyle.com">
    <wsdl:types>
        <schema
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                xmlns:tns="http://smev.gosuslugi.ru/rev120315"
                xmlns:smev="http://smev.gosuslugi.ru/rev120315"
                xmlns:pfr="http://pfr.skmv.rstyle.com"
                xmlns:epgu="http://epgu.skmv.rstyle.com"
                xmlns="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified"
                targetNamespace="http://smev.gosuslugi.ru/rev120315">
            <include schemaLocation="Smev-2.5.6.xsd"/>
            <import namespace="http://epgu.skmv.rstyle.com"/>
            <import
                    namespace="http://pfr.skmv.rstyle.com"
                    schemaLocation="pfr.xsd"/>
            <complexType name="EpguPrivatePersonRequestType">
                <complexContent>
                    <restriction base="tns:BaseMessageType">
                        <sequence>
                            <element ref="tns:Message"/>
                            <element name="MessageData">
                                <complexType>
                                    <complexContent>
                                        <restriction base="tns:MessageDataType">
                                            <sequence>
                                                <element minOccurs="0" name="AppData">
                                                    <complexType>
                                                        <complexContent>
                                                            <restriction base="tns:AppDataType">
                                                                <sequence>
                                                                    <element maxOccurs="1" minOccurs="1"
                                                                             ref="epgu:PrivatePersonData"/>
                                                                </sequence>
                                                                <anyAttribute processContents="lax"/>
                                                            </restriction>
                                                        </complexContent>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" ref="tns:AppDocument"/>
                                            </sequence>
                                        </restriction>
                                    </complexContent>
                                </complexType>
                            </element>
                        </sequence>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="EpguPrivateEntrepreneurRequestType">
                <complexContent>
                    <restriction base="tns:BaseMessageType">
                        <sequence>
                            <element ref="tns:Message"/>
                            <element name="MessageData">
                                <complexType>
                                    <complexContent>
                                        <restriction base="tns:MessageDataType">
                                            <sequence>
                                                <element minOccurs="0" name="AppData">
                                                    <complexType>
                                                        <complexContent>
                                                            <restriction base="tns:AppDataType">
                                                                <sequence>
                                                                    <element maxOccurs="1" minOccurs="1"
                                                                             ref="epgu:PrivateEntrepreneurData"/>
                                                                </sequence>
                                                                <anyAttribute processContents="lax"/>
                                                            </restriction>
                                                        </complexContent>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" ref="tns:AppDocument"/>
                                            </sequence>
                                        </restriction>
                                    </complexContent>
                                </complexType>
                            </element>
                        </sequence>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="EpguJuridicalPersonRequestType">
                <complexContent>
                    <restriction base="tns:BaseMessageType">
                        <sequence>
                            <element ref="tns:Message"/>
                            <element name="MessageData">
                                <complexType>
                                    <complexContent>
                                        <restriction base="tns:MessageDataType">
                                            <sequence>
                                                <element minOccurs="0" name="AppData">
                                                    <complexType>
                                                        <complexContent>
                                                            <restriction base="tns:AppDataType">
                                                                <sequence>
                                                                    <element maxOccurs="1" minOccurs="1"
                                                                             ref="epgu:JuridicalPersonData"/>
                                                                </sequence>
                                                                <anyAttribute processContents="lax"/>
                                                            </restriction>
                                                        </complexContent>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" ref="tns:AppDocument"/>
                                            </sequence>
                                        </restriction>
                                    </complexContent>
                                </complexType>
                            </element>
                        </sequence>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="EpguForeignCitizenRequestType">
                <complexContent>
                    <restriction base="tns:BaseMessageType">
                        <sequence>
                            <element ref="tns:Message"/>
                            <element name="MessageData">
                                <complexType>
                                    <complexContent>
                                        <restriction base="tns:MessageDataType">
                                            <sequence>
                                                <element minOccurs="0" name="AppData">
                                                    <complexType>
                                                        <complexContent>
                                                            <restriction base="tns:AppDataType">
                                                                <sequence>
                                                                    <element maxOccurs="1" minOccurs="1"
                                                                             ref="epgu:ForeignCitizenData"/>
                                                                </sequence>
                                                                <anyAttribute processContents="lax"/>
                                                            </restriction>
                                                        </complexContent>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" ref="tns:AppDocument"/>
                                            </sequence>
                                        </restriction>
                                    </complexContent>
                                </complexType>
                            </element>
                        </sequence>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="EpguCancelRequestType">
                <complexContent>
                    <restriction base="tns:BaseMessageType">
                        <sequence>
                            <element ref="tns:Message"/>
                            <element name="MessageData">
                                <complexType>
                                    <complexContent>
                                        <restriction base="tns:MessageDataType">
                                            <sequence>
                                                <element minOccurs="0" name="AppData">
                                                    <complexType>
                                                        <complexContent>
                                                            <restriction base="tns:AppDataType">
                                                                <sequence>
                                                                    <element minOccurs="0" ref="epgu:reason"/>
                                                                </sequence>
                                                                <anyAttribute processContents="lax"/>
                                                            </restriction>
                                                        </complexContent>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" ref="tns:AppDocument"/>
                                            </sequence>
                                        </restriction>
                                    </complexContent>
                                </complexType>
                            </element>
                        </sequence>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="EpguResponseType">
                <complexContent>
                    <restriction base="tns:BaseMessageType">
                        <sequence>
                            <element ref="tns:Message"/>
                            <element name="MessageData">
                                <complexType>
                                    <complexContent>
                                        <restriction base="tns:MessageDataType">
                                            <sequence>
                                                <element minOccurs="0" name="AppData">
                                                    <complexType>
                                                        <complexContent>
                                                            <restriction base="tns:AppDataType">
                                                                <sequence>
                                                                    <element maxOccurs="1" minOccurs="0"
                                                                             ref="epgu:ChangeOrderInfo"/>
                                                                    <element maxOccurs="1" minOccurs="0" name="fault"
                                                                             type="pfr:PFR_FAULT"/>
                                                                </sequence>
                                                                <anyAttribute processContents="lax"/>
                                                            </restriction>
                                                        </complexContent>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" ref="tns:AppDocument"/>
                                            </sequence>
                                        </restriction>
                                    </complexContent>
                                </complexType>
                            </element>
                        </sequence>
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
        <schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://epgu.skmv.rstyle.com"
                xmlns:smev="http://smev.gosuslugi.ru/rev120315" xmlns:pfr="http://pfr.skmv.rstyle.com"
                xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                targetNamespace="http://epgu.skmv.rstyle.com">
            <import namespace="http://pfr.skmv.rstyle.com"
                    schemaLocation="pfr.xsd"/>
            <import namespace="http://smev.gosuslugi.ru/rev120315"/>
            <element name="PrivatePersonData" nillable="false" type="tns:PrivatePersonData"/>
            <element name="PrivateEntrepreneurData" nillable="false" type="tns:PrivateEntrepreneurData"/>
            <element name="JuridicalPersonData" nillable="false" type="tns:JuridicalPersonData"/>
            <element name="ForeignCitizenData" nillable="false" type="tns:ForeignCitizenData"/>
            <element name="ChangeOrderInfo" type="tns:ChangeOrderInfo"/>
            <element name="reason" type="string"/>
            <complexType name="PrivatePersonData">
                <sequence>
                    <element name="snils" type="pfr:SNILS"/>
                    <group ref="tns:PersonData"/>
                    <group ref="tns:BaseEpguData"/>
                </sequence>
            </complexType>
            <complexType name="PrivateEntrepreneurData">
                <sequence>
                    <element name="snils" type="pfr:SNILS"/>
                    <element name="ogrnip" type="pfr:OGRNIP"/>
                    <group ref="tns:PersonData"/>
                    <group ref="tns:BaseEpguData"/>
                </sequence>
            </complexType>
            <complexType name="JuridicalPersonData">
                <sequence>
                    <element name="organizationName" type="pfr:ORGANIZATION_NAME"/>
                    <element name="ogrn" type="pfr:OGRN"/>
                    <element name="inn" type="pfr:INN"/>
                    <element name="managerName" type="pfr:FIO"/>
                    <element name="mail" type="pfr:EMAIL"/>
                    <group ref="tns:BaseEpguData"/>
                </sequence>
            </complexType>
            <complexType name="ForeignCitizenData">
                <sequence>
                    <group ref="tns:PersonData"/>
                    <element maxOccurs="1" minOccurs="1" name="citizenship">
                        <simpleType>
                            <restriction base="string">
                                <maxLength value="64"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="country">
                        <simpleType>
                            <restriction base="string">
                                <maxLength value="64"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <group maxOccurs="1" minOccurs="1" ref="tns:PersonDocData"/>
                    <group maxOccurs="1" minOccurs="1" ref="tns:BaseEpguData"/>
                </sequence>
            </complexType>
            <group name="BaseEpguData">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="DPTCOD_REG">
                        <simpleType>
                            <restriction base="string">
                                <pattern value="\d{3}"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="DPTCOD_TER">
                        <simpleType>
                            <restriction base="string">
                                <pattern value="\d{3}"/>
                            </restriction>
                        </simpleType>
                    </element>
                </sequence>
            </group>
            <complexType name="ChangeOrderInfo">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="orderId">
                        <complexType>
                            <choice>
                                <element maxOccurs="1" minOccurs="0" name="pguId" type="string"/>
                                <element maxOccurs="1" minOccurs="0" name="orgId" type="string"/>
                            </choice>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="statusCode">
                        <complexType>
                            <choice>
                                <element maxOccurs="1" minOccurs="0" name="orgCode" type="string"/>
                                <element maxOccurs="1" minOccurs="0" name="techCode" type="string"/>
                            </choice>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="comment" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="cancelAllowed" type="boolean"/>
                </sequence>
            </complexType>
            <group name="PersonData">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="fio" type="pfr:FIO"/>
                    <element maxOccurs="1" minOccurs="1" name="birthDate" type="date"/>
                    <element maxOccurs="1" minOccurs="1" name="mail" type="pfr:EMAIL"/>
                </sequence>
            </group>
            <group name="PersonDocData">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="type">
                        <simpleType>
                            <restriction base="string">
                                <maxLength value="64"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="number">
                        <simpleType>
                            <restriction base="string">
                                <maxLength value="40"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="issueDate" type="date"/>
                </sequence>
            </group>
            <element name="EpguPrivatePersonRequest" type="smev:EpguPrivatePersonRequestType"/>
            <element name="EpguPrivateEntrepreneurRequest" type="smev:EpguPrivateEntrepreneurRequestType"/>
            <element name="EpguJuridicalPersonRequest" type="smev:EpguJuridicalPersonRequestType"/>
            <element name="EpguForeignCitizenRequest" type="smev:EpguForeignCitizenRequestType"/>
            <element name="EpguCancelRequest" type="smev:EpguCancelRequestType"/>
            <element name="EpguResponse" type="smev:EpguResponseType"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="CancelRequestMessage">
        <wsdl:part element="smev:Header" name="SmevHeader"></wsdl:part>
        <wsdl:part element="tns:EpguCancelRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="JuridicalPersonRequestMessage">
        <wsdl:part element="smev:Header" name="SmevHeader"></wsdl:part>
        <wsdl:part element="tns:EpguJuridicalPersonRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="PrivateEntrepreneurRequestMessage">
        <wsdl:part element="smev:Header" name="SmevHeader"></wsdl:part>
        <wsdl:part element="tns:EpguPrivateEntrepreneurRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ForeignCitizenRequestMessage">
        <wsdl:part element="smev:Header" name="SmevHeader"></wsdl:part>
        <wsdl:part element="tns:EpguForeignCitizenRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="PrivatePersonRequestMessage">
        <wsdl:part element="smev:Header" name="SmevHeader"></wsdl:part>
        <wsdl:part element="tns:EpguPrivatePersonRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="EpguResponseMessage">
        <wsdl:part element="tns:EpguResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EpguPortType">
        <wsdl:operation name="EpguPrivatePersonRequest">
            <wsdl:input message="tns:PrivatePersonRequestMessage"></wsdl:input>
            <wsdl:output message="tns:EpguResponseMessage"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EpguPrivateEntrepreneurRequest">
            <wsdl:input message="tns:PrivateEntrepreneurRequestMessage"></wsdl:input>
            <wsdl:output message="tns:EpguResponseMessage"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EpguJuridicalPersonRequest">
            <wsdl:input message="tns:JuridicalPersonRequestMessage"></wsdl:input>
            <wsdl:output message="tns:EpguResponseMessage"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EpguForeignCitizenRequest">
            <wsdl:input message="tns:ForeignCitizenRequestMessage"></wsdl:input>
            <wsdl:output message="tns:EpguResponseMessage"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EpguCancelRequest">
            <wsdl:input message="tns:CancelRequestMessage"></wsdl:input>
            <wsdl:output message="tns:EpguResponseMessage"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EpguSoapBinding" type="tns:EpguPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="EpguPrivatePersonRequest">
            <wsdlsoap:operation soapAction="EpguPrivatePerson"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:PrivatePersonRequestMessage" part="SmevHeader" use="literal">
                </wsdlsoap:header>
                <wsdlsoap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EpguPrivateEntrepreneurRequest">
            <wsdlsoap:operation soapAction="EpguPrivateEntrepreneur"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:PrivateEntrepreneurRequestMessage" part="SmevHeader" use="literal">
                </wsdlsoap:header>
                <wsdlsoap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EpguJuridicalPersonRequest">
            <wsdlsoap:operation soapAction="EpguJuridicalPerson"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:JuridicalPersonRequestMessage" part="SmevHeader" use="literal">
                </wsdlsoap:header>
                <wsdlsoap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EpguForeignCitizenRequest">
            <wsdlsoap:operation soapAction="EpguForeignCitizen"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:ForeignCitizenRequestMessage" part="SmevHeader" use="literal">
                </wsdlsoap:header>
                <wsdlsoap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EpguCancelRequest">
            <wsdlsoap:operation soapAction="EpguCancel"/>
            <wsdl:input>
                <wsdlsoap:header message="tns:CancelRequestMessage" part="SmevHeader" use="literal">
                </wsdlsoap:header>
                <wsdlsoap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EpguService">
        <wsdl:port binding="tns:EpguSoapBinding" name="EpguPort">
            <wsdlsoap:address location="http://10.103.0.39:10000/ws/services/epgu"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>